body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    width: 450px;
    /* height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-radius: 30px;
}

.nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4CAF50;
    border-radius: 30px 30px 0 0;
}

.nav h1 {
    display: flex;
    color: #ffffff;
    font-size: 24px;
    margin: 0;
}

.question-number {
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    gap: 50px;
}

.score-display {
    color: #000000;
    font-size: 20px;
}


.questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options div button {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
    gap: 10px;
}

.nextbtn {
    padding: 15px 30px 15px 30px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.active {
    background-color: #4CAF50;
    color: #ffffff;
}

.inactive {
    background-color: #ff0000;
    color: #ffffff;
}